<div class="row">
    <div class="form-group">
        <label for="title">Заголовок</label>
        <input type="text" class="form-control" id="title" placeholder="title" ng-model="vm.model.title"/>
    </div>

    <div class="form-group">
        <label for="description">Описание</label>
        <input type="text" class="form-control" id="description" placeholder="description"
               ng-model="vm.model.description"/>
    </div>

    <div class="form-group">
        <label for="body">Текст новости</label>
        <textarea type="text" class="form-control" id="body" ng-model="vm.model.body"></textarea>
    </div>

    <a class="btn btn-primary" ng-click="vm.save()" >Save</a>
</div>
