<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default" ng-repeat="item in vm.model">
            <div class="panel-body">
                <small>{{item.createDate}}</small>

                <h4 ng-bind="item.title"></h4>

                <div>
                    <span ng-repeat="tag in item.tags">
                        <a ui-sref="news.list({ tags: tag.text  })" title="{{tag.text}}"><span class="label label-default">{{tag.text}}</span></a>
                    </span>
                </div>

                <h6 ng-bind="item.description"></h6>

                <p class="lead" >{{item.body| cut:true:100:' ...'}}</p>

               <br>

                <button type="button" class="btn btn-default btn-sm" ui-sref="news.detail({ id: item.id })">Read More
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <tag-cloud></tag-cloud>
    </div>
</div>

